.button {
   display: flex;
   width: 120px;
   justify-content: center;
   margin: 24px auto;
}

.subHeader {
   margin-top: 36px;
   margin-bottom: 20px;
}

.table {
   width: 100%;
}

.subDetailsContainer {
   display: flex;
   margin-top: 24px;
   gap: 24px;
   flex-direction: row;
   justify-content: space-between;
}

.tableIcon {
   margin-right: 8px;
}

.title {
   margin-bottom: 24px;
}

.loadingContainer {
   min-height: 100vh;
   margin-top: 10%;
}