.uploadButton{
   border-radius: 12px;
   background-color: var(--primary);
   color: transparent;
   padding: 12px;
   border: none;
   font-weight: 600;
   font-size: 14px;
   user-select: none;
   width: 150px;
   height: 40px;
   cursor: pointer;
}

.uploadButton::-webkit-file-upload-button {
   visibility: hidden;
}

.uploadButton::before {
   content: 'Upload file';
   color: #fff;
   display: flex;
   justify-content: center;
}