.form {
   display: flex;
   flex-direction: column;
   gap: 12px;
   width: 30%;
   margin: auto;
   font-weight: 500;
}

.caption {
   color: var(--caption);
   margin: 40px auto;
   display: flex;
}

.link {
   margin-left: 16px;
   color: #3E82E7;
   font-size: 14px;
   font-weight: 500;
}

.eyeIcon {
   right: 24px;
   position: relative;
   cursor: pointer;
}

.error {
   color: red;
   display: flex;
}

/* Responsive Styles */
@media (max-width: 1200px) {
   .form {
      width: 50%;
   }
   .captionText {
      width: 80%;
      text-align: center;
   }
}

@media (max-width: 768px) {
   .form {
      width: 80%;
   }
}

@media (max-width: 480px) {
   .form {
      width: 90%;
      padding: 0 16px;
   }

   .caption {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 8px;
   }

   .link {
      margin-left: 0;
   }
}