:root {
  --background: #ffffff;
  --light-background: #F8F8F7;
  --foreground: #171717;
  --primary: #FF5B27;
  --primary-light-50: rgba(255, 91, 39, 0.05);
  --primary-light-100: rgba(255, 91, 39, 0.1);
  --primary-light-200: rgba(255, 91, 39, 0.2);
  --caption: #6B7280;

}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

table {
  border: 1px solid white;
  border-collapse: collapse;
}

th, td {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.icon-small svg {
  width: 1px;
  height: 1px;
}
