.container {
   display: flex;
   align-items: center;
   padding: 12px 0 12px;
}

.outline {
   list-style: none;
   display: flex;
}

.item {
   font-size: 14px;
   font-weight: 600;
   color: var(--caption);
   display: flex;
   align-items: center;
}

.item:hover {
   color: black
}

.icon {
   margin: 0 12px;
}