.card {
   border-radius: 16px;
   display: flex;
   background-color: var(--primary-light-50);
   padding: 24px;
   flex-direction: column;
   width: 48%;
}
.actionCard {
   flex-direction: row;
   border-radius: 16px;
   display: flex;
   background-color: var(--primary-light-50);
   padding: 24px;
   width: 48%;
   justify-content: space-between;
}

.cardLink {
   background-color: var(--primary);
   color: white;
   width: fit-content;
   padding: 8px 12px;
   border-radius: 8px;
   font-weight: 600;
}

.cardLink:hover {
   opacity: 0.8;
}

.cardLabel {
   margin-bottom: 8px;
}

.cardSubLabel {
   margin-bottom: 18px;
   font-weight: 400;
   color: var(--caption);
}

.cardTopSubLabel {
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   color: black;
}

.cardImage {
   width: 300px;
   height: 200px;
}

.cardImagePortrait {
   width: 200px;
   height: 300px;
   transform: rotate(90deg);
}

.cardImageContainer {
   margin-right: 50px;
   margin-top: -50px;
}

@media (max-width: 1068px) {
   .container {
      width: 80%;
      padding: 0 16px;
   }
   .card {
      width: 100%;
   }
   .cardLink {
      width: 100%;
      text-align: center;
   }
   
}