.container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header {
   font-size: 36px;
}

.captionText {
   color: var(--caption);
   margin-bottom: 64px;
   margin-top: 14px;
   font-size: 18px;
}