.input.input {
   padding: 10px;
   border-radius: 5px;
   border: 1px solid #ccc;
   font-size: 14px;
   background-color: var(--light-background);
   width: 100%;
   color: black;
}

.input:-webkit-autofill,
.input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}