.modalOverlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
}

.modalContent {
   background-color: white;
   border-radius: 8px;
   padding: 20px;
   width: 90%;
   max-width: 800px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modalClose {
   max-width: 150px;
   display: flex;
   justify-content: center;
   margin: 0 auto;
}