.sponsorBox {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 4px solid #D1EEF8;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: calc(50% - 16px)
}

.sponsorImage {
    box-sizing: border-box;
    background: #F3F9FB;
    border: 4px solid #D1EEF8;
    border-radius: 8px;
}

.sponsorInfoContainer {
    width: 100%;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.sponsorHeaderInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sponsorHeader {
    font-weight: 700;
    color: #052F5F;
}

.sponsorHeaderTags {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 14px;
}

.sponsorHeaderTag {
    background: #EFFCFB;
    border-radius: 48px;
    padding: 8px 16px;
    color: #064E3B;
    text-transform: capitalize;
}

.sponsorName {
    color: #7AA9C3;
}

.sponsorDescription {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #7AA9C3;
}

.sponsorName {
    display: flex;
    align-items: center;
    gap: 4px;
}

.sponsorFooter {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
}

.redeemButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.redeemButton {
    margin-top: 0;
    max-width: 120px;
    height: 100%;
    max-height: 40px;
    background: #06B6D4;
    border-radius: 16px;
}

@media (max-width: 1300px) {
    .sponsorBox {
        width: 100%;
    }
}