.sponsorshipContainer {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.filterBox {
    display: flex;
    width: 25%;
}

.sponsorGrip {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.sponsorList {
    display: flex;
    width: 75%;
    height: 100%;
}

@media (max-width: 1068px) {
    .sponsorshipContainer {
        flex-direction: column;
    }

    .filterBox {
        width: 100%;
    }

    .sponsorList {
        width: 100%;
    }
}