.container {
   font-weight: 500;
   display: flex;
   align-items: center;
   gap: 12px;
}

.label {
   display: flex;
   align-items: center;
   gap: 12px;
   font-weight: 600;
   color: black;
   line-height: 24px;
}

.subLabel {
   font-size: 14px;
   color: var(--caption);
   font-weight: 400;
   line-height: 24px;
}