.form {
   display: flex;
   flex-direction: column;
   gap: 12px;
   width: 30%;
   margin: auto;
   font-weight: 500;
}

.caption {
   color: var(--caption);
   margin: 40px auto;
   display: flex;
}

.link {
   margin-left: 16px;
   color: #3E82E7;
   font-size: 14px;
   font-weight: 500;
}


.eyeIcon {
   right: 24px;
   position: relative;
   cursor: pointer;
}

.error {
   color: red;
   display: flex;
}

.checkboxContainer {
   display: flex;
   align-items: center;
   gap: 8px;
   margin-top: 24px;
   width: 100%;
}

.checkboxCaption {
   color: var(--caption);
   display: flex;
}

.checkboxText {
   font-size: 14px;
   width: 100%;
}

.checkboxIcon {
   width: 32px;
   height: 32px;
   padding: 6px;
   background-color: var(--primary-light-100);
   border-radius: 12px;
}

.toggleLeft {
   position: relative;
   top: -4px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
   .form {
      width: 50%;
   }

   .checkboxContainer {
      width: 99%;
   }
}

@media (max-width: 768px) {
   .form {
      width: 80%;
   }
}

@media (max-width: 480px) {
   .form {
      width: 90%;
      padding: 0 16px;
   }

   .caption {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 8px;
   }

   .link {
      margin-left: 0;
   }

   .checkboxContainer {
      width: 100%;
   }

   .checkboxText {
      font-size: 13px;
   }
}